.vs
.vscode
__pycache__
/HW1_Image-Classification-Problem/data/*
/HW1_Image-Classification-Problem/temp/*
/HW1_Image-Classification-Problem/local/*
/HW1_Image-Classification-Problem/info/*
/HW1_Image-Classification-Problem/params/*
/HW1_Image-Classification-Problem/313551052_HW1.zip

/HW2_Digit-Recognition-Problem/nycu-hw2-data
/HW2_Digit-Recognition-Problem/params
/HW2_Digit-Recognition-Problem/temp
/HW2_Digit-Recognition-Problem/temp_test_predictions
/HW2_Digit-Recognition-Problem/temp_val_predictions
/HW2_Digit-Recognition-Problem/*.csv
/HW2_Digit-Recognition-Problem/*.json
/HW2_Digit-Recognition-Problem/*.zip
/HW2_Digit-Recognition-Problem/local_store
/HW2_Digit-Recognition-Problem/info
/HW2_Digit-Recognition-Problem/runs
# https://drive.google.com/file/d/13JXJ_hIdcloC63sS-vF3wFQLsUP1sMz5/view