.vs
.vscode
__pycache__
/HW1_Image-Classification-Problem/data/*
/HW1_Image-Classification-Problem/temp/*
/HW1_Image-Classification-Problem/local/*
/HW1_Image-Classification-Problem/info/*
/HW1_Image-Classification-Problem/params/*
/HW1_Image-Classification-Problem/313551052_HW1.zip

/HW2_Digit-Recognition-Problem/nycu-hw2-data
/HW2_Digit-Recognition-Problem/params
/HW2_Digit-Recognition-Problem/temp
/HW2_Digit-Recognition-Problem/temp_test_predictions
/HW2_Digit-Recognition-Problem/temp_val_predictions
/HW2_Digit-Recognition-Problem/*.csv
/HW2_Digit-Recognition-Problem/*.json
/HW2_Digit-Recognition-Problem/*.zip
/HW2_Digit-Recognition-Problem/local_store
/HW2_Digit-Recognition-Problem/info
/HW2_Digit-Recognition-Problem/runs


/HW3_Instance-Segmentation/data
/HW3_Instance-Segmentation/hw3-sample-code
/HW3_Instance-Segmentation/local_storage

/HW4_Image-Restoration/hw4_realse_dataset
/HW4_Image-Restoration/local


# https://drive.google.com/drive/folders/1Q4qLPMCKdjn-iGgXV_8wujDmvDpSI1ul